<div class="about__element">
    <div>
        <img class="about__image" src="./../../../assets/images/edvinas.jpg" alt="">
    </div>
    <div class="about__text">
        <h2>Edvinas <br>Reikalas</h2>
        <p>Lorem, ipsum dolor sit amet consectetur 
        adipisicing elit. Vel corporis at eum quis 
        deleniti aspernatur expedita, porro facere 
        voluptatibus itaque obcaecati illo molestiae 
        hic, ratione dignissimos dolor. Sunt, exercitationem 
        laudantium?</p>
        
        </div>
</div>
