*,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  /* Custom Properties -- change as you like */
  
  :root {
    --ff-primary: 'Open Sans', sans-serif;
    --ff-secondary: 'Open Sans', sans-serif;
  
    --fw-reg: 300;
    --fw-semi-bold: 400;
    --fw-bold: 700;
  
    --clr-bg: #fff;
    --clr-text: black;
    --clr-accent: #fd9002;
    --clr-grey: #eeeeee;
  
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-h4: 1rem;
    --fs-body: 1rem;
  
    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25);
  }
  /* NAVIGATION */

  .navigation__element{
      display: flex;
      width: 100%;
  }
 .nav_container1{
     width: 60%;
 }
 .navigation__logo{
     width: 163px;
 }
 .navigation__listItems{
     display: flex;
     width: 40%;
     justify-content: space-evenly;
     flex-direction: row;
     font-size: var(--fs-h4);
     font-weight: var(--fw-semi-bold);
 }
 .navigation__list-item{
     color: var(--clr-text);
     cursor: pointer;
 }
 .navigation__list-item:hover{
     color: var(--clr-accent);
 }

